<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Most earning movies</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<h1>Top 5 best earning movies</h1>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="popular">Top 5 Popular movies</a></li>
    <li><a href="earning">Top 5 earning movies</a></li>
    <li><a href="worst">Top 5 worst movies</a></li>
</ul>
<br>
<br>
<div style="text-align: center;"><img src="/images/Avengers%20Endgame.jpg" alt="Avengers Endgame" style="width:300px; height: 300px">
    <div class="movie">
        <h3>1. Avengers: Endgame 2019</h3>
        <p>Short summary - After the devastating events of Avengers: Infinity War (2018), the universe is in ruins. With the help of remaining allies, the Avengers assemble once more in order to reverse Thanos' actions and restore balance to the universe.</p>
        <p>Worldwide earnings: $2,797,800,564</p>
    </div>
</div>
<br>
<div style="text-align: center;"><img src="/images/Avatar.jpg" alt="Avatar" style="width:300px; height: 300px">
    <div class="movie">
        <h3>2. Avatar 2009</h3>
        <p>Short summary - A paraplegic Marine dispatched to the moon Pandora on a unique mission becomes torn between following his orders and protecting the world he feels is his home.</p>
        <p>Worldwide earnings: $2,790,439,000</p>
    </div>
</div>
<br>
<div style="text-align: center;"><img src="/images/Titanic.png" alt="Titanic" style="width:300px; height: 300px">
    <div class="movie">
        <h3>3. Titanic 1997</h3>
        <p>Short summary - A seventeen-year-old aristocrat falls in love with a kind but poor artist aboard the luxurious, ill-fated R.M.S. Titanic.</p>
        <p>Worldwide earnings: $2,194,439,542</p>
    </div>
</div>
<br>
<div style="text-align: center;"><img src="/images/Star%20Wars%20The%20Force%20Awakens.jpg" alt="Star Wars: The Force Awakens" style="width:300px; height: 300px">
    <div class="movie">
        <h3>4. Star Wars: The Force Awakens 2015</h3>
        <p>Short summary - As a new threat to the galaxy rises, Rey, a desert scavenger, and Finn, an ex-stormtrooper, must join Han Solo and Chewbacca to search for the one hope of restoring peace.</p>
        <p>Worldwide earnings: $2,068,223,624</p>
    </div>
</div>
<br>
<div style="text-align: center;"><img src="/images/Avengers%20Infinity%20War.jpg" alt="Avengers Infinity War" style="width:300px; height: 300px">
    <div class="movie">
        <h3>5. Avengers: Infinity War 2018</h3>
        <p>Short summary - The Avengers and their allies must be willing to sacrifice all in an attempt to defeat the powerful Thanos before his blitz of devastation and ruin puts an end to the universe.</p>
        <p>Worldwide earnings: $2,048,359,754</p>
    </div>
</div>
<br>
<br>
<br>
<br>
</body>
</html>