<!DOCTYPE html>
<html>
<head>
    <title>Website demo</title>
    <style>
        body{
            background-color: linen;
        }
        h1{
            font-family: Verdana;
            color: black;
            text-align: center;
        }

        p{
            font-family: Verdana;
            font-size: 10px;
        }
    </style>
</head>
<body>
<h1>HOME</h1>
<a href="popularMovies.html">Popular movies now!</a>
<a href="earningMovies.html">Greatest earning movies of all times</a>
<a href="worstMovies.html">Worst movies of all times</a>
</body>
</html>