<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home site</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<h1>HOME</h1>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="popular">Top 5 Popular movies</a></li>
    <li><a href="earning">Top 5 earning movies</a></li>
    <li><a href="worst">Top 5 worst movies</a></li>
</ul>
<br>
<br>
<div style="text-align: center;"><img src="/images/250%20imbd%20movie%20poster.jpg" alt="Movie poster" style="width:600px; height: 600px">
</div>
</body>
</html>