<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Popular movies</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<a href="/">HOME</a>
<br>
<h1>Most popular movies of all times</h1>
<div style="text-align: center;"><img src="/images/The%20Shawshank%20redemption.jpg" alt="The Shawshank redemption" style="width:300px; height: 300px">
<div class="movie">
    <h3>1. The Shawshank redemption 1994</h3>
    <p>Short summary - Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common
        decency. </p>
</div>
</div>
</body>
</html>