<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Popular movies</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<h1>Top 5 most popular movies</h1>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="popular">Top 5 Popular movies</a></li>
    <li><a href="earning">Top 5 earning movies</a></li>
    <li><a href="worst">Top 5 worst movies</a></li>
</ul>
<br>
<br>
<div style="text-align: center;"><img src="/images/The%20Shawshank%20redemption.jpg" alt="The Shawshank redemption" style="width:300px; height: 300px">
    <div class="movie">
        <h3>1. The Shawshank redemption 1994</h3>
        <p>Short summary - Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common
        decency. </p>
    </div>
</div>
<br>
<div style="text-align: center;"><img src="/images/The%20Godfather.jpg" alt="The Godfather" style="width:300px; height: 300px">
    <div class="movie">
        <h3>2. The Godfather 1972</h3>
        <p>Short summary - The aging patriarch of an organized crime dynasty transfers control of his clandestine empire to his reluctant son. </p>
    </div>
</div>
<br>
<div style="text-align: center;"><img src="/images/The%20dark%20knight.jpg" alt="The Dark knight" style="width:300px; height: 300px">
    <div class="movie">
        <h3>3. The Dark Knight 2008</h3>
        <p>Short summary - When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, Batman must accept one of the greatest psychological and physical tests of his ability to fight injustice. </p>
    </div>
</div>
<br>
<div style="text-align: center;"><img src="/images/Inception.jpg" alt="Inception" style="width:300px; height: 300px">
    <div class="movie">
        <h3>4. Inception 2010</h3>
        <p>Short summary - A thief who steals corporate secrets through the use of dream-sharing technology is given the inverse task of planting an idea into the mind of a C.E.O. </p>
    </div>
</div>
<br>
<div style="text-align: center;"><img src="/images/Interstellar.jpg" alt="Inception" style="width:300px; height: 300px">
    <div class="movie">
        <h3>5. Interstellar 2014</h3>
        <p>Short summary - A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival. </p>
    </div>
</div>
<br>
<br>
<br>
<br>
</body>
</html>