<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Worst movies</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="popular">Top 5 Popular movies</a></li>
    <li><a href="earning">Top 5 earning movies</a></li>
    <li><a href="worst">Top 5 worst movies</a></li>
</ul>
<br>
<h1>Top 5 worst movies</h1>
<div style="text-align: center;"><img src="/images/Disaster%20Movie.jpg" alt="Disaster Movie" style="width:300px; height: 300px">
    <div class="movie">
        <h3>1. Disaster Movie 2008</h3>
        <p>Short summary - Over the course of one evening, an unsuspecting group of twenty-somethings find themselves bombarded by a series of natural disasters and catastrophic events.</p>
    </div>
</div>
<br>
<div style="text-align: center;"><img src="/images/Superbabies%20baby%20geniuses.jpg" alt="Superbabies baby geninuses" style="width:300px; height: 300px">
    <div class="movie">
        <h3>2. Superbabies: Baby Geniuses 2004</h3>
        <p>Short summary - A group of smart-talking toddlers find themselves at the center of a media mogul's experiment to crack the code to baby talk. The toddlers must race against time for the sake of babies everywhere.</p>
    </div>
</div>
<br>
<div style="text-align: center;"><img src="/images/Kod%20adi%20KOZ.jpg" alt="Kod Adi K.O.Z." style="width:300px; height: 300px">
    <div class="movie">
        <h3>3. Kod Adi K.O.Z. 2005</h3>
        <p>Short summary - A look at the 17-25 December 2013 corruption scandal in Turkey, from the viewpoint of the Erdogan government.</p>
    </div>
</div>
<br>
<div style="text-align: center;"><img src="/images/The%20Hands%20of%20Fate.jpg" alt="Manos: The Hands Of Fate" style="width:300px; height: 300px">
    <div class="movie">
        <h3>4. Manos: The Hands Of Fate 1966</h3>
        <p>Short summary - A family gets lost on the road and stumbles upon a hidden, underground, devil-worshiping cult led by the fearsome Master and his servant Torgo.</p>
    </div>
</div>
<br>
<div style="text-align: center;"><img src="/images/birdemice%20shock%20and%20terror.jpg" alt="Birdemic: Shock and Terror" style="width:300px; height: 300px">
    <div class="movie">
        <h3>5. Birdemic: Shock and Terror 2010</h3>
        <p>Short summary - A horde of mutated birds descends upon the quiet town of Half Moon Bay, California. With the death toll rising, Two citizens manage to fight back, but will they survive Birdemic?</p>
    </div>
</div>
<br>
<br>
<br>
<br>
</body>
</html>